/*__________ Fonts +++ __________*/
/*__________ Fonts --- __________*/
/*__________ Heritage +++ __________*/
/*__________ Heritage --- __________*/
/*__________ Absolute +++ __________*/
/*__________ Absolute --- __________*/
/*__________ Transition +++ __________*/
/*__________ Transition --- __________*/
/*__________ Transform +++ __________*/
/*__________ Transform --- __________*/
/*__________ Animation +++ __________*/
/*__________ Animation --- __________*/
/*__________ Column +++ __________*/
/*__________ Column --- __________*/
/*__________ Text Mask +++ __________*/
/*__________ Text Mask --- __________*/
/*__________ Button Color +++ __________*/
/*__________ Button Color --- __________*/
/* MIN WIDTH
=======================================================================================================================*/
/* Min Width = 480px
-----------------------------------------------------------------------*/
@media (min-width: 480px) {
  /* Min Width = 480px END */
}

/* Min Width = 768px
-----------------------------------------------------------------------*/
@media (min-width: 768px) {
  /* Min Width = 768px END */
}

/* Min Width = 992px
-----------------------------------------------------------------------*/
@media (min-width: 992px) {
  /* Min Width = 992px END */
}

/* Min Width = 1200px
-----------------------------------------------------------------------*/
@media (min-width: 1200px) {
  /* Min Width = 1200px END */
}

/* Min Width = 1655px
-----------------------------------------------------------------------*/
@media (min-width: 1655px) {
  /* Min Width = 1655px END */
}

/* MAX WIDTH
=======================================================================================================================*/
/* Max Width = 1654px
-----------------------------------------------------------------------*/
@media (max-width: 1654px) {
  /* Max Width = 1654px END */
}

/* Max Width = 1199px
-----------------------------------------------------------------------*/
@media (max-width: 1199px) {
  .prod_info_slr_rt_cnt {
    width: initial;
  }
  .blg_rev_it_foot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .blg_rev_it_btn_bx {
    margin-bottom: 10px;
  }
  .blg_rev_it_img {
    height: 280px;
  }
  .pc_my_trd_sort {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .pc_my_trd_sort_ls {
    margin-bottom: 10px;
  }
  .pc_my_trd_tb tr > td:nth-of-type(1) {
    width: 200px;
  }
  /* Max Width = 1199px END */
}

/* Max Width = 991px
-----------------------------------------------------------------------*/
@media (max-width: 991px) {
  /* Max Width = 991px END */
}

/* Max Width = 767px
-----------------------------------------------------------------------*/
@media (max-width: 767px) {
  /* Max Width = 767px END */
}

/* Max Width = 479px
-----------------------------------------------------------------------*/
@media (max-width: 479px) {
  /* Max Width = 479px END */
}
