
// Fonts
%fwBold {
	font-weight: bold;
}
%fwMedium {
	font-weight: 500;
}
%fwNormal {
	font-weight: normal;
}
%fwLight {
	font-weight: 300;
}
%fsItalic {
	font-style: italic;
}


%floatContainer {

	&::before {
		content: '';
		display: table;
	}

	&::after {
		@extend %floatContainer::before;
		clear: both;
	}
}

%inlineBlock {
	display: inline-block;
	vertical-align: middle;
}

%flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

%noListStyle {
	margin-bottom: 0;
	padding-left: 0;
	list-style-type: none;
}

%noUserSelect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

%continuousText {
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

%placeholder {

	&::-webkit-input-placeholder {
		color: inherit;
	}
	
	&::-moz-placeholder {
		color: inherit;
		opacity: 1;
	}

	&:-ms-input-placeholder {
		color: inherit;
	}

	&:-moz-placeholder {
		color: inherit;
		opacity: 1;
	}

	&::placeholder {
		color: inherit;
		opacity: 1;
	}
}





/* ELEMENTS
=======================================================================================================================*/
%hdrMenuSectHeight {
	height: 30px;
	line-height: 30px;
}

%navHeight {
	height: 40px;
	line-height: 40px;
}


