

/*__________ Fonts +++ __________*/
@mixin Fonts($name, $path, $weight: null, $style: null) {
	@font-face {
		font-family: $name;
		src: url($path);
		font-weight: $weight;
		font-style: $style;
	}
}
/*__________ Fonts --- __________*/



/*__________ Heritage +++ __________*/
@mixin InlineBlock($width: null) {
	display: inline-block;
	vertical-align: middle;
	width: $width;
}

@mixin ContinuousText {
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
/*__________ Heritage --- __________*/




/*__________ Absolute +++ __________*/
@mixin Absolute($top: null, $right: null, $bottom: null, $left: null, $margin: null) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
	margin: $margin;
}

@mixin AbsoluteWidth($max: 120%, $min: 100%) {
	min-width: $min;
	min-height: $min;
	max-width: $max;
	max-height: $max;
}
/*__________ Absolute --- __________*/




/*__________ Transition +++ __________*/
@mixin Transition($property: all, $time: 0.3s, $tFunc: ease, $delay: null) {
	-webkit-transition: $property $time $tFunc $delay;
	-o-transition: $property $time $tFunc $delay;
	transition: $property $time $tFunc $delay;
}

@mixin TransitionDelay($time: 0s) {
	-webkit-transition-delay: $time;
	-o-transition-delay: $time;
	transition-delay: $time;
}

@mixin TransitionFunc($tFunc: ease) {
	-webkit-transition-timing-function: $tFunc;
	-o-transition-timing-function: $tFunc;
	transition-timing-function: $tFunc;
}
/*__________ Transition --- __________*/




/*__________ Transform +++ __________*/
@mixin Translate($x, $y) {
	-webkit-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	transform: translate($x, $y);
}

@mixin Rotate($angle) {
	-webkit-transform: rotate($angle);
	-ms-transform: rotate($angle);
	-o-transform: rotate($angle);
	transform: rotate($angle);
}

@mixin Scale($x, $y) {
	-webkit-transform: scale($x, $y);
	-ms-transform: scale($x, $y);
	-o-transform: scale($x, $y);
	transform: scale($x, $y);
}

@mixin RotateScale($angle, $x, $y) {
	-webkit-transform: rotate($angle) scale($x, $y);
	-ms-transform: rotate($angle) scale($x, $y);
	-o-transform: rotate($angle) scale($x, $y);
	transform: rotate($angle) scale($x, $y);
}

@mixin RotateTranslate($angle, $tx, $ty) {
	-webkit-transform: rotate($angle) translate($tx, $ty);
	-ms-transform: rotate($angle) translate($tx, $ty);
	-o-transform: rotate($angle) translate($tx, $ty);
	transform: rotate($angle) translate($tx, $ty);
}

@mixin Rotate3D($rx, $ry, $rz, $rdeg) {
	-webkit-transform: rotate3d($rx, $ry, $rz, $rdeg);
	-ms-transform: rotate3d($rx, $ry, $rz, $rdeg);
	-o-transform: rotate3d($rx, $ry, $rz, $rdeg);
	transform: rotate3d($rx, $ry, $rz, $rdeg);
}

@mixin Rotate3DTranslate3D($rx, $ry, $rz, $rdeg, $tx, $ty, $tz) {
	-webkit-transform: rotate3d($rx, $ry, $rz, $rdeg) translate3d($tx, $ty, $tz);
	-ms-transform: rotate3d($rx, $ry, $rz, $rdeg) translate3d($tx, $ty, $tz);
	-o-transform: rotate3d($rx, $ry, $rz, $rdeg) translate3d($tx, $ty, $tz);
	transform: rotate3d($rx, $ry, $rz, $rdeg) translate3d($tx, $ty, $tz);
}
/*__________ Transform --- __________*/



/*__________ Animation +++ __________*/
@mixin Animation($name, $time: 0.3s, $tFunc: ease, $delay: null, $count: null, $fillMode: null) {
	-webkit-animation: $name $time $tFunc $delay $count $fillMode;
	-o-animation: $name $time $tFunc $delay $count $fillMode;
	animation: $name $time $tFunc $delay $count $fillMode;

	@-webkit-keyframes #{$name} {
		@content;
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

@mixin AnimationDelay($time) {
	-webkit-animation-delay: $time;
	-o-animation-delay: $time;
	animation-delay: $time;
}
/*__________ Animation --- __________*/





/*__________ Column +++ __________*/
@mixin ColumnCount($number) {
	-webkit-column-count: $number;
	-moz-column-count: $number;
	-o-column-count: $number;
	column-count: $number;
}

@mixin ColumnGap($gap) {
	-webkit-column-gap: $gap;
	-moz-column-gap: $gap;
	-o-column-gap: $gap;
	column-gap: $gap;
}
/*__________ Column --- __________*/




/*__________ Text Mask +++ __________*/
@mixin TextMask($elemHeight, $maskHeight: 20px, $maskColor: #fff, $type: true, $maxHeightTop: null) {
	@if $type {
		height: $elemHeight;
	}
	@else {
		max-height: $elemHeight;
	}
	position: relative;
	overflow: hidden;

	&::after {
		content: '';
		display: block;
		height: $maskHeight;
		@include Absolute(null, 0, null, 0);
		@if $type {
			bottom: 0;
		}
		@else {
			top: $maxHeightTop;
		}
		background: linear-gradient(to right, rgba($maskColor, 0.15), $maskColor);
	}
}
/*__________ Text Mask --- __________*/






/*__________ Button Color +++ __________*/
@mixin ButtonBgColor($background, $percent: 10%) {
	background: $background;

	&:hover {
		background: darken($background, $percent);
	}
}


@mixin ButtonReverse($background, $color) {
	background: $background;
	color: $color;

	&:hover {
		background: $color;
		color: $background;
	}
}
/*__________ Button Color --- __________*/




