

$social:
	(facebook, $facebook),
	(vk, $vkontakte),
	(instagram, $instagram),
	(youtube, $youtube);

@each $class, $color in $social {
	.footer_social > li > a > i.fa-#{$class}:hover {
		background: $color;
	}
}



$loginSocial:
	(twitter, $twitter),
	(google-plus, $googlePlus),
	(facebook, $facebook),
	(vk, $vkontakte);

@each $class, $color in $loginSocial {
	.lgn_social > li > a.#{$class} {
		border: 1px solid darken($color, 7%);
		background: $color;

		> i {
			border-right: 1px solid darken($color, 7%);
		}
	}

	.lgn_social > li > a.#{$class}:hover {
		background: lighten($color, 5%);
	}
}




@for $i from 1 through 15 {
	.prods_v_col:nth-of-type(#{$i}) {
		@include AnimationDelay(((2 + $i) / 10) + s);
	}
	
	.prods_h_item:nth-of-type(#{$i}) {
		@include AnimationDelay(((2 + $i) / 10) + s);
	}
}




$hotSocial:
	(facebook, $facebook),
	(twitter, $twitter),
	(vk, $vkontakte),
	(odnoklassniki, $odnoklassniki),
	(google-plus, $googlePlus);

@each $class, $color in $hotSocial {
	.hot_ofr_scl_ls > li > a > i.fa-#{$class} {
		background: $color;
	}

	.hot_ofr_scl_ls > li > a > i.fa-#{$class}:hover {
		background: lighten($color, 10%);
	}
}





$productSocialv3:
	(fa-facebook, $facebook),
	(fa-twitter, $twitter),
	(fa-instagram, $instagram),
	(fa-paper-plane, $telegram),
	(fa-vk, $vkontakte),
	(fa-odnoklassniki, $odnoklassniki);

@each $class, $color in $productSocialv3 {
	.prod_rew_v3_scl_ls > li a i.#{$class} {
		background: $color;
	}

	.prod_rew_v3_scl_ls > li a i.#{$class}:hover {
		background: lighten($color, 15%);
	}
}




