
@import 'variables';
@import 'mixins';


/* MIN WIDTH
=======================================================================================================================*/

/* Min Width = 480px
-----------------------------------------------------------------------*/
@media (min-width: 480px) {

/* Min Width = 480px END */
}


/* Min Width = 768px
-----------------------------------------------------------------------*/
@media (min-width: 768px) {

/* Min Width = 768px END */
}


/* Min Width = 992px
-----------------------------------------------------------------------*/
@media (min-width: 992px) {

/* Min Width = 992px END */
}


/* Min Width = 1200px
-----------------------------------------------------------------------*/
@media (min-width: 1200px) {

/* Min Width = 1200px END */
}


/* Min Width = 1655px
-----------------------------------------------------------------------*/
@media (min-width: 1655px) {

/* Min Width = 1655px END */
}



/* MAX WIDTH
=======================================================================================================================*/

/* Max Width = 1654px
-----------------------------------------------------------------------*/
@media (max-width: 1654px) {

/* Max Width = 1654px END */
}


/* Max Width = 1199px
-----------------------------------------------------------------------*/
@media (max-width: 1199px) {
	.prod_info_slr_rt_cnt {
		width: initial;
	}

	.blg_rev_it_foot {
		flex-direction: column;

		@at-root .blg_rev_it_btn_bx {
			margin-bottom: 10px;

			@at-root .blg_rev_it_img {
				height: 280px;
			}
		}
	}


	.pc_my_trd_sort {
		flex-direction: column;
		align-items: center;

		@at-root .pc_my_trd_sort_ls {
			margin-bottom: 10px;
		}
	}


	.pc_my_trd_tb tr > td:nth-of-type(1) {
		width: 200px;
	}

/* Max Width = 1199px END */
}


/* Max Width = 991px
-----------------------------------------------------------------------*/
@media (max-width: 991px) {

/* Max Width = 991px END */
}


/* Max Width = 767px
-----------------------------------------------------------------------*/
@media (max-width: 767px) {

/* Max Width = 767px END */
}


/* Max Width = 479px
-----------------------------------------------------------------------*/
@media (max-width: 479px) {

/* Max Width = 479px END */
}



